<footer>
    <div class="footer-container">
    <div class="get-in-touch">
        <a href="https://www.instagram.com/isabellehultqvist/" target="_blank" rel="noopener noreferrer">
        <img alt="instagram-icon" class="icon" src="assets/instagram.svg"/>
        <p>Isabellehultqvist</p>
        </a>
    </div>

    <div class="get-in-touch">
        <a href="" target="_blank" rel="noopener noreferrer">
        <img alt="envelope-icon" class="icon" src="assets/envelope.svg"/>
        <p>Isabelle.Hultqvist&#64;outlook.com</p>
        </a>
    </div>
    </div>
    
       
    <p id="created"> © created 2025 </p>
</footer>